<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="keywords" content="чат без регистрации, анонимный чат, чят, бесплатный онлайн чат, знакомства, chat, xfn, pychat, 0chat, slowchat" />
	<meta name="language" content="Russian" />
	<meta name="description" content="Анонимный чат без регистрации" />
    <title>Logs</title>
    <script type="text/javascript" src="/static/script.js"></script>
    <script type="text/javascript" src="/static/script_logs.js"></script>
	<link rel="stylesheet" href="/static/styles/root.css" ></link>
    <link rel="stylesheet" href="/static/styles/pink.css" title="Pimp" id="stylelink"></link>
</head>
<body>

<div id="top-container">
    <span id="previous">&lt=Prev</span>
    <span id="next">Next=&gt</span>
    <select id="stylechange">
        <option value="pink">Pink</option>
        <option value="origin">Origin</option>
        <option value="night">Night</option>
    </select>
</div>
<div id="table">
<div id="log" style="overflow-wrap: break-word;">
    {{range .Msgs}}
        <div class="messageContainer">
            <span class="msgid">&lt{{.Id}}&gt</span>
            <span class="msgtime">{{.Time}}</span>
            <span class="msgname">{{.Name}}</span>
            <div>
                <span class="msgcontent">{{.Text}}</span>
            </div>
        </div>
    {{- end}}
</div>
</div>
</body>
</html>
