<!DOCTYPE html>
<html lang="en">
<head>
	<title>Slowchat</title>
	<meta name="keywords" content="чат без регистрации, анонимный чат, чят, бесплатный онлайн чат, знакомства, chat, xfn, pychat, 0chat, slowchat" />
	<meta name="language" content="Russian" />
	<meta name="description" content="Анонимный чат без регистрации" />
	<link rel="icon shortcut" id="dynamic-favicon" href="/static/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/static/styles/root.css" ></link>
	<link rel="stylesheet" href="/static/styles/pink.css" title="Pimp" id="stylelink"></link>
</head>
<body>
<div id="top-container">
	<span id="onlineCount">Online: {{ .OnlineCounter }}</span>
    <a target="_blank"  href="/static/help.html">Help</a>
    <a target="_blank"  href="/logs/">Logs</a>
    <a target="_self"  href="/">JS-on</a>
    <a target="_blank"  href="https://share.shitshare.xyz/">Share</a>
    <select id="stylechange">
        <option value="pink">Pink</option>
        <option value="origin">Origin</option>
        <option value="night">Night</option>
    </select>
    <a target="_blank"  href="https://0chat.org/">Aness0chat</a>
</div>
	<div id="table">
	<div id="log">
		{{range .Log}}
		<div class="messageContainer">
			<span>&lt;</span><span class="msgid">{{.Id}}</span><span>&gt;</span>
			<span class="msgtime">{{.Datetime}}</span>
			<span class="msgname"><span></span>{{.Name}}</span>
			<div><span class="split"></span><span class="msgcontent"><span>{{.Text}}</span></span></div></div>
		{{end}}
	</div>
</div>
<form id="form" method="post" class="input-container">
    <input type="text" name="name" id="name" size="10" placeholder="name" hidden />
    <input type="text" name="msgbody" id="msg" size="100" autofocus autocomplete="off" />
    <input type="submit" id="send" value="Send" />
</form>
</body>
</html>
