body {
    background-image: url('/static/nightBackground.jpg');
    background-size: contain;
    background-repeat: repeat-x, no-repeat;
    background-attachment: fixed, fixed;
    background-position: top, right bottom;
    color: #999999;
}

a,  a:focus,  a:hover {
    color: #9999CC;
}

.msgname {
    color: #336600;
    font-weight: bold;
}

.msgtime {
    color: #2b4e7b;
    font-size: 12px;
}

.otherssplit {
    border-left-color: #33365c;
}
.minesplit {
    border-left-color: #6d6bd9;
}

.msgid {
    color: green;
}

#msg, #name {
    background-color: #1c0931d6;
    border: none;
    color: inherit;
}

#msg:focus-visible, #name:focus-visible {
    border-color: #48194b;
}

#onlineCount {
    color: #a271ff;
}

#log {
    border-color: #333333;
    background-color: rgba(51, 51, 51, 0.5);
}

.response {
    text-shadow: 0 0 .5px #6c009d;
    color: #9c99ff;
}

.greentext {
    color: #789922;
}

.spoiler {
    color: #a5a5a5;
    background-color: #a5a5a5;
}
.spoiler:hover {
    color: #99cc5dd6;
    background-color: #210026bd;
}

.irony {
    color: #FF00FF;
}

.highlightRef {
    background-color: #360d5c;
}

#loadold {
    border-color: #48194b;
    outline: none !important;
    color: inherit;
    background-color: #1c093140;
}

#loadold {
    color: inherit;
    background-color: #270a46;
}

#loadold:active {
    background-color: #270a4696;
}

.messageContainer {
    background-color: #252540c7;
    margin-top: 5px;
    margin-bottom: 5px;
}
