body {
    background: #39084a;
}

a,  a:focus,  a:hover {
    color: #3775c2;
}

.msgname {
    color: #bd4444;
}

.msgtime {
    color: #2b7b7b;
    font-size: 14px;
}

.otherssplit {
    border-left-color: #563681;
}
.minesplit {
    border-left-color: #00c130;
}

.msgid {
    color: #14b31e;
}

#table {
    background-color: #210026bd;
    color: #99cc5dd6;
}

#table::-webkit-scrollbar-track {
    background-color: #352636;
}
 
#table::-webkit-scrollbar-thumb {
    background-color: #804a82;
}

#msg, #name {
    color: #5aff0fc4;
    background-color: #39033e;
    border: 1px solid #8e0993;
}

#msg:focus-visible, #name:focus-visible {
    border-color: #48194b;
}

#onlineCount {
    color: #12e13f;
    background-color: #332034;
}

#log {
    background-color: #210026bd;
    color: #99cc5dd6;
}

.response {
    text-shadow: 0 0 .5px #6c009d;
    color: #9c99ff;
}

.greentext {
    color: #789922;
}

.spoiler {
    color: #a5a5a5;
    background-color: #a5a5a5;
}
.spoiler:hover {
    color: #99cc5dd6;
    background-color: #210026bd;
}

.irony {
    color: #FF00FF;
}

.highlightRef {
    background-color: #360d5c;
}

#loadold {
    background-color: #48194b;
    color: #c8e376;
}

#loadold:active {
    background-color: #2f1131;
}

#send {
	background-color: #5a3560;
	color: #bffd88;
	border: none;
}

select {
	background-color: #8e6c99;
    border-radius: 5px;
    color: #000000;
    font-size: 15px;
}
