html {
    overflow: hidden;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
	font-family: sans-serif;
}

a,  a:focus,  a:hover {
}

.msgcontent {
    word-wrap: break-word;
	white-space: pre-wrap;
}

.msgname {
}

.msgtime {
    padding: 5px;
}

#table {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    bottom: 3em;
    overflow: auto;
    padding: 5px;
}

#table::-webkit-scrollbar {
    width: 10px;
}


#form {
    padding: 0 0.5em 0 0.5em;
    position: absolute;
    bottom: 1em;
    overflow: hidden;
}

#table, #form {
    width: 73%;
    margin-left: 15%;
    margin-right: 15%;
}

#msg, #name {
    box-shadow: none;
}

#msg:focus-visible, #name:focus-visible {
    outline: none !important;
}

#onlineCount {
    inline-size: fit-content;
}

#log {
    background-color: #210026bd;
}

#messageContainer {
    box-sizing: border-box;
}

.strike {
    text-decoration: line-through;
}

#loadold {
    width: 100%;
    box-shadow: none;
    outline: none !important;
    border: none;
}


#top-container {
    display: flex;
    flex-direction: column;
    right: 0px;
    position: absolute;
}

/* Lol, it's so horrible. */
@media screen and (max-width: 1023px) {
	body, #loadold {
		font-size: 35px;
	}
	#msg, #name {
		font-size: 45px;
	}
    #send {
        width: 12%;
        font-size: 35px;
    }
    #table, #form {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        padding: 0px;
        bottom: 0px;
    }
    #table {
        top: 25px;
        left: 0px;
        right: 0px;
        bottom: 50px;
    }
    #top-container {
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }
}

.input-container {
    display: flex;
    flex-flow: row nowrap;
}

.input-container > #msg {
    width: 95%;
}

.msgsep {
    float: left;
    height: 20px;
    width: 3px;
    margin-right: 8px;
    border-radius: 25px;
}

.split {
	border-left-width: 2px;
	border-left-style: solid;
    border-radius: 2px;
    padding-left: 5px;
}
